.card {
    width: 341px;
    border: 1px solid black;
    background: white;
    transition: transform .2s ease;
}

.card:hover {
    transform: scale(1.01);
}

#container{
   gap: 17px;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

